body {
    background: linear-gradient(-45deg, #f093fb, #f5576c, #4facfe, #6f86d6);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    font-family: 'Arial', sans-serif;
}

@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.illustration-banner img {
    max-width: 100%;
    height: auto;
}

.register-form {
    background: rgba(255, 255, 255, 0.521);
    border-radius: 10px;
}

.register-form img {
    width: 100px;
    height: auto;
}

.register-form h2 {
    font-size: 24px;
    font-weight: bold;
}

.register-form input {
    height: 45px;
    font-size: 16px;
    padding-left: 15px;
}

.register-form button {
    height: 45px;
    font-size: 16px;
    font-weight: bold;
}

.actionBtn{
    text-decoration: none;
}
.actionBtn:hover{
    text-decoration: none;
}

@media (max-width: 767.98px) {
    .register-form {
        padding: 20px;
    }

    .register-form img {
        width: 80px;
    }

    .register-form h2 {
        font-size: 20px;
    }

    .register-form input, .register-form button {
        height: 40px;
        font-size: 14px;
    }
}
